{{ template "theme/partials/header.html" . }}

<div id="layout" class="mystic">
  <div>
    <div class="posts">

      {{ range .Data.Pages }}
        <section class="post">
            <header class="post-header">
                <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
            </header>

            <div class="post-description">
                {{ .Content }}
            </div>
        </section>
      {{ end }}

    </div>
    {{ template "theme/partials/footer.html" . }}
  </div>
</div>

</body>
</html>
